.head-title {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  padding: 0 0 23px;
  border-bottom: 1px rgba(0, 0, 0, 1) solid;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .head-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding: 0 0 28px;
  }
}