.movies-cards {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px 0;
  margin-top: 70px;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 900px) {
  .movies-cards {
    row-gap: 30px;
  padding: 0 30px 0;

  }
}

@media screen and (max-width: 480px) {
  .movies-cards {
    padding: 0 14px 0;
    margin-top: 40px;
    gap: 26px;
  }
}

.movies-cards__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 37px 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .movies-cards__items {
    gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .movies-cards__items {
    row-gap: 14px;
  }
}

.movies-cards__button {
  width: 320px;
  color: #000;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin: 60px auto 80px;
  padding: 11px 0 9px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  ;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .movies-cards__button {
    margin-top: 50px;
  }
}

@media screen and (max-width: 480px) {
  .movies-cards__button {
    width: 240px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}