.accountbtn {
  /* width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end; */
}

.accountbtn__button {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 114.286% */
  text-decoration: none;
  width: 100px;
  background-image: url('../../images/person_icon.svg');
  background-repeat: no-repeat;
  height: 30px;
  /* background-size: 11.5px 14px; */
  background-position: 80px;
}


@media screen and (max-width: 900px) {
  .accountbtn {
   display: none;
  }
}