.moviesnav {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%; */
  font-family: 'Inter', Arial, sans-serif;
  padding-left: 30px;
}
@media screen and (max-width: 900px) {
  .moviesnav{
    display: none;
  }
}

.moviesnav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.moviesnav__link {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 138.462% */
  text-decoration: none;
  padding-left: 16px;
  margin: 0;
}

.moviesnav__link_activ {
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 138.462% */
}