.saved-movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  margin-bottom: 329px;
}

@media screen and (max-width: 900px) {
  .saved-movies{
    margin-bottom: 248px;
  }
}@media screen and (max-width: 480px) {
  .saved-movies{
    margin-bottom: 220px;
  }
}