.filter-checkbox {
  display: flex;
  align-items: center;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 900px) {
  .filter-checkbox {
    margin: 28px 0 0;
    flex-direction: row-reverse;
  }

}

@media screen and (max-width: 480px) {
  .filter-checkbox {
    margin: 42px 0 0;
    justify-content: center;
  }
}


.filter-checkbox__checkbox-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
}

.filter-checkbox__checkbox-invisible+.filter-checkbox__checkbox-visible {
  width: 36px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../images/smalltumboff.svg');
  background-size: cover;
  cursor: pointer;
  transition: background-image .3s ease-in;
}

.filter-checkbox__checkbox-invisible:checked+.filter-checkbox__checkbox-visible_checked {
  background-image: url('../../images/smalltumb.svg');
}

.filter-checkbox__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  /* 138.462% */
  margin: 0;
  padding: 0;
  margin-left: 16px;
}


@media screen and (max-width: 900px) {
  .filter-checkbox__text {
    margin-right: 16px;
  }
}
@media screen and (max-width: 480px) {
  .filter-checkbox__text {
    margin-left: 0px;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 163.636% */
  }
}
@media screen and (max-width: 480px) {
  .filter-checkbox__invisible-checkbox+.filter-checkbox__visible-checkbox {
    margin-right: 13px;
  }
}