.techs {
  padding: 100px 70px;
  background-color: #F5F5F5;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 900px) {
  .techs {
    padding: 93px 50px 90px;
  }
}

@media screen and (max-width: 480px) {
  .techs {
    padding: 70px 14px 76px;
  }
}


.techs__content {
  max-width: 1140px;
  margin: 0 auto;
}

.techs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__title {
  
  color: #000;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  padding: 90px 0 26px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .techs__title {
    padding: 80px 0 22px;
  }
}

@media screen and (max-width: 480px) {
  .techs__title {
    padding: 50px 0 12px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}


.techs__subtitle {
  max-width: 460px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  padding-bottom: 100px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .techs__subtitle {
    padding-bottom: 82px;
    font-size: 12px;
    line-height: 18px;
    /* 150% */
    letter-spacing: -0.48px;
  }
}
@media screen and (max-width: 480px) {
  .techs__subtitle {
    max-width: 292px;
    padding-bottom: 50px;
    font-size: 11px;
    line-height: 16px; /* 145.455% */
    letter-spacing: -0.44px;
  }
}

.techs__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .techs__cards  {
  justify-content: start;
    padding: 0  57px;
  }
}

.techs__cards-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  width: 90px;
  padding: 21px 0;
  background: #E8E8E8;
  border-radius: 10px;
  width: 90px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .techs__cards-item {
    width: 84px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}