@import url('./vendor/normalize.css');

@import url('./vendor/fonts.css');

html {
  scroll-behavior: smooth;
}

.body {
  scroll-behavior: smooth;
  max-width: 1280px;
  margin: 0 auto;
}

.none-effect {
  display: none;
}

.hover-effect {
  transition: opacity .2s ease-in;
}

.hover-effect:hover {
  opacity: .8;
  cursor: pointer;
}