.nav__button {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background: transparent;
  border: none;
  color: #fff;
  margin: 3px 0 0;
  cursor: pointer;
  margin-right: 30px;
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
}

.nav__button:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 480px) {
  .nav__button {
    font-size: 10px;
    margin-right: 14px;
  }
}

.nav__button_type_login {
  padding: 8px 20px;
  width: 76px;
  height: 32px;
  color: #000000;
  background: #2BE080;
  border-radius: 3px;
  font-family: 'Inter', Arial, sans-serif;
}